<wrapper class="footer wrapper">
	<container class="footer__container container">
		<row class="footer__row row">
			<columns class="footer__columns columns" small="12" large="12">
				<img class="footer__logo" src="/assets/img/logo-lautissimi.png" alt="">
				<spacer size="32"></spacer>
				<div class="footer__address address">
					<p class="address__item">O&S Interior GmbH</p>
					<p class="address__item">St. Johannes Strasse 23</p>
					<p class="address__item">CH-6300 Zug</p>
				</div>
			</columns>
		</row>
	</container>
</wrapper>